<div class="content_bottom cv">
<p>	
A Zend PHP5 certified engineer with 7 years commercial web development experience.
</p>
<h3>Specialties:</h3>

<p>
<ul>
 <li>Languages: PHP 5, Python, MySQL, Postgresql, XHTML, CSS, Javascript, XML</li>
 <li>Software: Zend Studio, Eclipse, MySQL Workbench, Jmeter</li>
 <li>Operating Systems: Windows (XP, Vista, 7), Debian</li>
 <li>Technologies: Zend Framework 1 & 2, Smarty, Git & Subversion, JQuery, Ajax</li>
</ul>
</p>

<h3>Relevant work experience</h3>


<h4>Senior PHP Developer</h4>
<p><b>Imagine Communications Group</b></p>
<p><i>April 2012 – Present</i></p>
<p>I am currently a senior developer in the WebDev team at Imagine Communications Group. Over the past 2 years I have built a number of PHP applications such as an application to store tokenized credit card details, a CRM to help customer support search details on Wimax customers, an api management system and a set of apis that integrates with that system. An application to securely store direct debit details for customers & generate sepa xml files for processing on the BOI website. In this role I’ve introduced the team to zend framework 2 & the Git source control system. I’ve also introduced the team to unit testing on legacy applications & all new applications. 
</p>
<p>
I’ve worked with the following technologies in this role: PHP 5, MySQL, XHTML, CSS, Javascript, JQuery, Ajax, XML, SOAP, Zend Framework 1 & 2, Linux, Shell Scripting, Git, Subversion, Zend Studio, Eclipse, MySQL Workbench, Xdebug, Jmeter
</p>

<h4>Web Developer</h4>
<p><b>Ryanair</b></p>
<p><i>July 2011 – March 2012</i></p>
<p>
I worked as a web developer on the main Ryanair website. The work was mostly front-end work & involved translating static images into working web pages. I did a redesign of some of the inner pages on the Ryanair website. The challenge here was the fact that the site receives over 1 million visitors per day so the web pages had to be extremely optimized to handle the load. I used tools such as xdebug & jmeter to identify slow points & optimize. Other duties included creating competition pages & general site maintenance.
</p>
<p>
I worked with the following technologies in this role: PHP 5, Zend Framework, Javascript, HTML, CSS, SOAP, Mercurial, Xdebug, Jmeter. 
</p>

<h4>PHP Web Developer</h4>
<p><b>Web Reservations International/Hostelworld.com</b></p>
<p><i>September 2006 – June 2010</i></p>

<p>
I worked on numerous websites (online booking engines for budget accommodation) including hostelworld.com, hostels.com, trav.com, ryanairvillas.com, affiliate sites, the admin site & on a XML API. During the 4 years at Hostelworld I worked as part of a team in implementing a number of redesigns, the latest of which involved converting a website from PHP4 to PHP5. The re-designed website was built on Zend Framework. Other duties included implementing new features across the sites, bug fixing, optimizing pages for page load speed & SEO. 
</p>
<p>
In this role I worked with the following technologies: PHP 4 & 5, MySQL, Linux, Apache, XHTML, CSS, Javascript, JQuery, Ajax, XML, Zend Framework, Smarty & Subversion.
</p>

<h3>Education</h3>


<h4>Athlone Institute of Technology</h4>
<p><b>B.sc. (Hons), Computer & Software Engineering</b></p>
<p><i>2001 – 2005</i></p>
<p>4 years C++, 2 years Java, XML, XSL, WML, HTML, Database design & SQL</p>

<h3>Additional Info</h3>
<p>
I’ve been learning python for the past 9 months. I’ve done a couple of projects with the Flask & Django web frameworks. In 2008 I became a Zend PHP5 certified engineer & in 2009 I passed the first MySQL Developer exam. My GitHub profile is: https://github.com/XeodPilgrim. I’m currently experimenting with Ruby and postgresql.
</p>

<div class="clear"></div>
</div>