
	<!-- start contennt-bottom -->
	<div class="content_bottom">
				<div class="grid_1_of_4 images_1_of_4">
					 <img width="128"  height="128" src="/assets/dan.jpg">
					 <h3>Daniel Reilly</h3>
					 <p>I'm currently a Senior PHP Web developer for Imagine Communications Group and live in Dublin. I have seven years commercial experience as a web developer and have worked for Ryanair and Hostelworld in the past. In my spare time  I like to read and program in Python and Ruby.</p>
				</div>
				<div class="grid_1_of_4 images_1_of_4">
					 <img src="/assets/icon-2.png">
					 <h3>Work Experience</h3>
					 <p><b>Senior PHP Developer</b> - Imagine</p>
					 <p><b>Web Developer</b> - Ryanair</p>
					 <p><b>PHP Developer</b> - Hostelworld</p>
				     <div class="button"><span><%= link_to "CV",    cv_path %></span></div>
				</div>
				<div class="grid_1_of_4 images_1_of_4">
					 <img src="/assets/icon-3.png">
					 <h3>Links</h3>
					 <p>
					 <ul>
					  <li><a href="ie.linkedin.com/in/reillydaniel/">Linked in</a></li>
					  <li><a href="https://twitter.com/danreilly937">Twitter</a></li>
					  <li><a href="https://github.com/XeodPilgrim">Github</a></li>
					 </ul>
					</p>
				     
				</div>
				
				<div class="clear"></div>
			</div>
			<!-- start contennt-bottom1-->
			
	
